@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.learn-more {
    @include flex-column;
    gap: $gap-mobile-cmp-default;
    max-width: 27.5rem;

    &__ctn {
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &-link {
            border-bottom: $border-2px;
            font-weight: 700;
        }
    }
}
