@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.indv-project {
    @include flex-column;
    gap: 2.25rem;

    &__ctn {
        @include flex-column;
        gap: 2.25rem;

        &-content {
            @include flex-column;
            gap: 2.25rem;

            &-header {
                border-top: 5px solid white;
                width: 4.5rem;
            }
        }

        &-featured {
            @include flex-vertical;
            justify-content: space-between;

            @include tablet {
                justify-content: flex-start;
            }
        }

        &-buttons {
            display: none;

            @include desktop {
                display: flex;
                gap: 1.25rem;
            }
        }
    }

    &__images {
        @include flex-column;
        gap: $gap-mobile-cmp-default;

        @include desktop {
            flex-direction: row;
            gap: 2.25rem;
        }
    }

    &__buttons {
        @include flex-column;
        gap: $gap-mobile-cmp-default;

        @include desktop {
            display: none;
        }

        &-github {
            @include flex-vertical;
            width: 100%;
            gap: $gap-mobile-cmp-default;
        }
    }
}
