@use "./mixins" as *;
@use "./variables" as *;

@font-face {
    font-family: "Titillium Web";
    font-weight: 400;
    src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "Titillium Web";
    font-weight: 700;
    src: url("../../assets/fonts/TitilliumWeb-Bold.ttf");
}

* {
    font-family: "Titillium Web", sans-serif;
    color: $prim-color-2;
}

p {
    color: $sec-color-2;
}