@use "./fonts";
@use "./reset";
@use "./mixins" as *;
@use "./variables" as *;

html {
    background-color: $prim-color-1;
    padding: 1.75rem;

    @include desktop {
        padding: 3.25rem;
    }
}