@use "./variables" as *;

// Tablet and Desktop Breakpoints

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-horizontal {
    display: flex;
    justify-content: center;
}

@mixin flex-vertical {
    display: flex;
    align-items: center;
}

@mixin border-default {
    border: 2px solid $prim-color-2;
}

@mixin slide-in-left {
    position: relative;
    animation: slide 2.25s forwards;
    left: -150%;

    @keyframes slide {
        100% {
            left: 0;
        }
    }
}

@mixin slide-in-right {
    position: relative;
    animation: slide 1.5s forwards;
    right: -150%;

    @keyframes slide {
        100% {
            right: 0;
        }
    }
}
