// media queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #06141d;
$prim-color-2: #fff;

$sec-color-1: #065fe4;
$sec-color-2: #8b8e93;

$border-2px: 1px solid $prim-color-2;

$gap-mobile-cmp-default: 1.25rem;
$gap-mobile-default: 2.75rem;

$btn-padding-default: 0.5rem 1rem;
