// media queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #06141D;
$prim-color-2: #FFF;

$sec-color-1: #065FE4;
$sec-color-2: #8B8E93;

$border-2px: 2px solid $prim-color-2;

$gap-default: 1.25rem;