@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.feature {
    @include flex-vertical;
    justify-content: center;
    gap: $gap-mobile-cmp-default;

    &__amount {
        @include flex-vertical;

        &-number {
            color: $prim-color-2;
            font-weight: 700;
            font-size: 1.375rem;
        }

        &-element {
            color: $sec-color-1;
            font-size: 1.375rem;
            font-weight: 700;
        }
    }

    &__name {
        color: $prim-color-2;
        font-weight: 700;
        font-size: 1.175rem;
    }
}
