@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.portfolio {
    @include flex-column;
    gap: 2.25rem;

    &__content {
        @include flex-column;
        gap: 2.25rem;
    }

    &__featured {
        @include flex-vertical;
        justify-content: space-between
    }

    &__images {
        @include flex-column;
        gap: $gap-mobile-cmp-default;
    }

    &__buttons {
        @include flex-vertical;
        gap: $gap-mobile-cmp-default;
    }
}
