@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.indv-project {
    @include flex-column;
    gap: 2.25rem;

    &__content {
        @include flex-column;
        gap: 2.25rem;
    }

    &__featured {
        @include flex-vertical;
        justify-content: space-between
    }

    &__images {
        @include flex-column;
        gap: $gap-mobile-cmp-default;
    }

    &__buttons {
        @include flex-column;
        gap: $gap-mobile-cmp-default;

        &-github {
            @include flex-vertical;
            width: 100%;
            gap: $gap-mobile-cmp-default;
        }
    }
}

.width {
    width: 100%;
}
