@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-desktop {
    display: flex;

    &__links {
        display: flex;
        gap: 1.25rem;
        list-style-type: none;

        &-linkedin {
            text-decoration: none;

            &:hover {
                font-weight: 700;
            }
        }
    }
}
