@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-desktop {
    display: flex;
    justify-content: space-between;

    &__name {
        font-weight: 700;
    }

    &__links {
        display: flex;
        gap: 2.25rem;
        list-style-type: none;

        &-linkedin {
            text-decoration: none;

            &:hover {
                font-weight: 700;
            }
        }
    }
}
