@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
    @include flex-column;
    gap: 2.25rem;

    @include desktop {
        gap: 7.25rem;
    }

    &__ctn {
        @include flex-column;
        gap: 2.25rem;

        @include desktop {
            flex-direction: row;
            gap: 10rem;
        }

        &-left {
            @include flex-column;
            gap: 2.25rem;

            &-content {
                @include flex-column;
                gap: 2.25rem;

                &-header {
                    @include desktop {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }

            &-featured {
                @include flex-vertical;
                justify-content: space-between;

                @include tablet {
                    justify-content: flex-start;
                }
            }

            &-btn {
                display: none;

                @include desktop {
                    display: flex;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

                &-cv {
                    border: $border-2px;
                    padding: $btn-padding-default;
                    border-radius: 1.75rem;
                    width: 100%;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }

        &-right {
            @include flex-column;
            gap: 2.25rem;

            &-img {
                @include desktop {
                    &:active {
                        transform: scale(1.325);
                        position: relative;
                        right: 42.5%;
                    }
                }
            }

            &-btn {
                text-align: center;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }

                @include desktop {
                    display: none;
                }

                &-cv {
                    border: $border-2px;
                    padding: $btn-padding-default;
                    border-radius: 1.75rem;
                    font-weight: 700;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }

    &__learn-more {
        @include flex-column;
        gap: 2.25rem;
    }
}
