@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects {
    @include flex-column;
    gap: 2.25rem;

    @include desktop {
        gap: 10.25rem;
    }

    &__ctn {
        @include flex-column;
        gap: 2.25rem;

        @include desktop {
            flex-direction: row;
            gap: 10rem;
        }

        &-left {
            @include flex-column;
            gap: 2.25rem;

            &-content {
                @include flex-column;
                gap: 2.25rem;
            }

            &-featured {
                @include flex-vertical;
                justify-content: space-between;

                @include tablet {
                    justify-content: flex-start;
                }
            }

            &-btn {
                display: none;

                @include desktop {
                    display: flex;
                }
            }
        }

        &-right {
            @include flex-column;
            gap: 2.25rem;

            &-btn {
                @include desktop {
                    display: none;
                }
            }
        }
    }
}
