@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.introduction {
    @include flex-column;
    gap: 2.25rem;

    @include desktop {
        flex-direction: row;
    }

    &__content {
        @include flex-column;
        gap: 2.25rem;

        &-header {
            width: 80%;

            &-color {
                color: $sec-color-1;
            }
        }

        &-learn-more {
            @include flex-column;
            gap: 2.25rem;
        }
    }

    &__ctn {
        border-bottom: $border-2px;

        &-img {
            width: 100%;
            border-bottom: $border-2px;
        }
    }
}
