@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.introduction {
    padding-bottom: 0.5rem;

    @include desktop {
        border-bottom: 2px solid white;
    }

    &__sub {
        @include flex-column;
        gap: 2.25rem;

        @include desktop {
            flex-direction: row;
            background-image: url("../../assets/images/profile-background.png");
            background-size: cover;
            height: 55rem;
            align-items: center;
            border-bottom: 2px solid white;
        }

        &-content {
            @include flex-column;
            gap: 2.25rem;

            &-header {
                width: 80%;

                &-color {
                    color: $sec-color-1;
                }
            }

            &-paragraph {
                @include desktop {
                    width: 57.5%;
                }
            }

            &-learn-more {
                @include flex-column;
                gap: 2.25rem;

                @include desktop {
                    gap: 5.25rem;
                    margin-bottom: 15rem;
                }
            }
        }

        &-ctn {
            border-bottom: $border-2px;

            @include desktop {
                border: none;
            }

            &-img {
                width: 100%;
                border-bottom: $border-2px;

                @include desktop {
                    display: none;
                }
            }
        }
    }
}
