@use "./styles/partials/global";
@use "./styles/partials/mixins" as *;

.app {
    @include flex-column;
    gap: 4.75rem;
    max-width: 42.5rem;
    margin: auto;

    @include desktop {
        max-width: 92.25rem;
        margin: auto;
    }
}
